body {
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
nav {
    background: linear-gradient(to right, #00c6ff, #0072ff);
}
.brand-logo img {
    height: 50px;
}
.header {
    margin-top: 50px;
    text-align: center;
}
.header h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.header p {
    font-size: 1.5rem;
}
.card {
    background: #ffffff;
    color: #000;
    border-radius: 10px;
    overflow: hidden;
}
.card .card-image img {
    border-radius: 10px 10px 0 0;
}
.card-content a {
    color: #0072ff;
}
.modal {
    background: #fff;
    color: #000;
}
.modal-header {
    font-size: 2rem;
    margin-bottom: 20px;
}
.btn-large {
    background: linear-gradient(to right, #00c6ff, #0072ff);
}
footer {
    background: #0072ff;
    padding: 20px 0;
    color: #fff;
    text-align: center;
}
